.articleGallery {
  width: 730px;
  height: 443px;
}
.articleGallery li > img {
  display: block;
}
.carouselCaption {
  position: relative;
  width: 690px;
  height: 57px;
  padding: 0 20px;
  background-color: #26323F;
}
.carouselCaption_green {
  background-color: #a3cc67 !important;
}
.carouselCaption_yellow {
  background-color: #e9ba52 !important;
}
.carouselCaption_orange {
  background-color: #f26c4f !important;
}
.carouselCaption_turquoise {
  background-color: #9a74ad !important;
}
.carouselCaption_blue {
  background-color: #1CBBB4 !important;
}
.carouselCaption p {
  color: #fff;
  font: 11px/57px Arial;
  height: 24px;
  line-height: normal;
  padding: 13px 0px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0px;
}
.carouselCaption span {
  position: absolute;
  top: -25px;
  right: 13px;
  color: #fff;
  font: 11px/1 Arial;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
.anythingControls > a {
  display: none !important;
}
.anythingSlider-default {
  width: 730px !important;
  height: 443px !important;
  margin-bottom: 20px;
}
.anythingSlider-default .anythingControls a span {
  visibility: hidden;
}
/* Arrow */
.anythingSlider-default .back {
  z-index: 999999;
  position: absolute;
  left: 0;
  top: 175px;
  background: url(http://www.jewishagency.org/sites/default/files/left.png) 0 0 no-repeat;
  cursor: pointer;
}
.anythingSlider-default .forward {
  z-index: 999999;
  position: absolute;
  right: 0;
  top: 175px;
  background: url(http://www.jewishagency.org/sites/default/files/right.png) 0 0 no-repeat;
  cursor: pointer;
  width: 16px;
}
/* Navigation Links */
.anythingSlider-default .anythingControls {
  outline: 0;
  display: none;
  position: absolute;
  bottom: 15%;
  right: auto;
}
.anythingSlider-default .anythingControls ul li {
  display: block;
  float: left;
  width: 11px;
  height: 11px;
}
.anythingSlider-default .anythingControls ul li + li {
  margin-left: 12px;
}
.anythingSlider-default .anythingControls ul a {
  width: 11px;
  height: 11px;
  display: block;
  background: url(../images/carouselBtn.png) right top no-repeat;
}
.anythingSlider-default.activeSlider .anythingControls a.cur, .anythingSlider-default.activeSlider .anythingControls a:hover {
  background-position: right bottom;
}
/***********************
 IE8 AND OLDER STYLING
 ***********************/

/* Navigation Arrows */
.as-oldie .anythingSlider-default .arrow {
  top: 30%;
}
.as-oldie .anythingSlider-default .arrow a {
  margin: 0;
}
/* margin between nav buttons just looks better */
.as-oldie .anythingSlider-default .anythingControls li {
  margin-left: 3px;
}
/* When using the navigationSize option, the side margins need to be zero
 None of the navigation panels look good in IE7 now =( */
.as-oldie .anythingSlider-default .anythingControls a {
  margin: 0;
}
.as-oldie .anythingSlider-default .anythingNavWindow {
  margin: 0 2px;
}
.as-oldie .anythingSlider-default .anythingNavWindow li {
  padding: 3px 0 0 0;
}
/***********************
 COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper */
.anythingSlider {
  display: block;
  overflow: visible !important;
  position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
  background: transparent;
  list-style: none;
  position: absolute;
  overflow: visible !important;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
/* Navigation arrow text; indent moved to span inside "a", for IE7;
 apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
  display: block;
  visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
  display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
  background: transparent;
  display: block;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}
.anythingSlider .panel .playBtn {
  left: 340px;
  top: 180px;
}

.gallery980.wrapper {
    height: 350px;
}

/***********************/
.gallery980 .anythingSlider-default {
  width: 980px !important;
  height: 370px !important;
  margin-bottom: 30px;
}
.gallery980 .anythingBase li {
  display: none;
}
.gallery980 .anythingBase li:first-child {
  display: block;
}
.gallery980 .anythingBase li, .gallery980 .pic {
  width: 980px !important;
  height: 350px !important;
  display: block;
}
.gallery980 .anythingSlider-default .anythingControls {
  bottom: 10%;
}
.gallery980 .photoCR {
  position: absolute;
  top: 437px;
  right: 17px;
  color: #fff;
  font: 11px/1 Arial;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
.gallery980 .picText {
  position: absolute;
  top: 100px;
  width: 420px;
}
.gallery980 .picText.right {
  right: 70px;
}
.gallery980 .picText.left {
  left: 70px;
}
.gallery980 .picText h3 {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  color: #fff;
  border-bottom: 1px solid #fff;
  font: normal 46px/1.1 "Baskerville W01 Regular 927184", Times New Roman, Serif;
  margin: 0 0 21px;
  padding-bottom: 23px;
}
.gallery980 .button {
  color: #fff;
  font: bold 16px/2.9 "AvenirNextLTW01-Regular", Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  width: 133px;
  height: 48px;
  vertical-align: middle;
  margin-right: 20px;
  padding: 0px;
}
.gallery980 .button.cs1 {
  background: #1CBBB4;
}
.gallery980 .button.cs2 {
  background: #A3CC67;
}
.gallery980 .button.cs3 {
  background: #E9BA52;
}
.gallery980 .button.cs4 {
  background: #F26C4F;
}
.gallery980 .button.cs5 {
  background: #0053a6;
}
.gallery980 .button.cs6 {
  background: #dd3030;
}

.gallery980 .button , .screen-buttun .button{
  background: transparent!important;
  background: transparent!important;
  color: #130E0E;
  padding: 0px;
  float: left;
  text-align: left;
  margin-top: 65px;
  font-family: "Georgia Italic",Georgia, serif;
}


.gallery980 .button.cs3 , .screen-buttun .button.cs3{
  color:  #fcb94c;
}

.slider-image p.mubile-buttun {
    margin: 0px;
}

.slider-item-page {
    margin-bottom: 40px;
}



.gallery980 .button::after { 
    content: " >";
}

.gallery980 .info {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  /*display: inline-block;*/
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  display: none;
}
.gallery980 .info span {
  display: block;
  text-transform: none;
  font-weight: normal;
  font: 21px/1 "Baskerville W01 Regular 927184", Times New Roman, Serif;
}
.gallery980 .emergency {
  background: #26323f;
}
.gallery980 .emergency figure {
  height: 300px;
  left: 70px;
  position: absolute;
  top: 78px;
  width: 402px;
  overflow: hidden;
}
.gallery980 .emergency figure img {
  min-width: 400px;
  min-height: 300px;
}
.gallery980 .emergency figure .play {
  background: url(../images/playBtn.png);
  width: 51px;
  height: 52px;
  position: absolute;
  left: 177px;
  top: 121px;
}
.gallery980 .emergency .text {
  position: absolute;
  top: 87px;
  width: 420px;
  right: 60px;
}
.gallery980 .emergency .text h5 {
  margin: 0;
  color: #7994b0;
}
.gallery980 .emergency .text h4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  margin: 0;
  font: 25px/1.22 "AvenirNextLTW01-Regular", Arial, Helvetica, sans-serif;
  color: #fff;
}
.gallery980 .emergency .text p {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  color: #fff;
  line-height: 1.5;
}
.gallery980 .emergency .text hr {
  border-color: #5d7289;
  margin: 36px 0 20px;
}


.slider-image {
    padding: 0px;
    /*position: absolute;*/
}


.slider-back-color {
    height: 100%;
    padding: 43px;
    padding: 25px;
}


.slider-back-color h3{
    color: #fff;
    font-size: 36px;
    font-family: georgia;
    padding-bottom: 20px;
    width: auto;
    display: inline-block;
    border-bottom: 1px solid #fcb94c;
    margin-top: 40px;    
    margin-bottom: 0px;
    font-family: "Georgia Italic",348Georgia, serif;
    text-transform: capitalize;
    position: absolute;
    bottom: 0px;
}


.slidet_title {
    height: 167px;
    position: relative;
}
  


.slider-back-color.cs3 h3{
    border-bottom: 1px solid #25323f;
    position: absolute;
    bottom: 0px;
}

.slider-teaser {
    font-size: 17px;
    color: #FFF;
    margin: 0px;
    padding-top: 10px;
    font-family: "Georgia Italic",Georgia, serif;
    text-transform: capitalize;
    font-style: italic;
}

p.mobile-botton {
    background: #3A3939;
    margin: 0px;
}

.mobile-botton .button {
    text-align: center!important;
    color: #fff!important;
    font-size: 28px!important;
    margin: 0px!important;
    padding: 0px!important;
    line-height: 1.5!important;
    width: 100%!important;
}

.slider-image .pic {
    width: 100%!important;
}

.slider-item-page{
  width: 980px !important;
  height: 350px !important;
  display: block;
}

.slider-item-page img {
    width: 100%!important;
    height: 350px;
}


.slider-item-page .cs1 {
  background-image: url('http://www.jewishagency.org/sites/default/files/Purple%20slide_0.jpg');  
}
.slider-item-page .cs2 {
  background-image: url('http://www.jewishagency.org/sites/default/files/Green%20slide_0.jpg');
}
.slider-item-page .cs3 {
  background-image: url('http://www.jewishagency.org/sites/default/files/Yellow%20slide_0.jpg'); 
}
.slider-item-page .cs4 {
  background-image: url('http://www.jewishagency.org/sites/default/files/Orange%20slide_0.jpg'); 
}
.slider-item-page .cs11 {
    background-image: url('http://www.jewishagency.org/sites/default/files/Light%20blue%20slide_0.jpg'); 
}



.slider-item-page .button {
    background-image: url('http://www.jewishagency.org/sites/default/files/button_0.jpg')!important;
    color: #25323f;
    float: left;
    text-align: left;
    position: absolute;
    font-family: "Georgia Italic",Georgia, serif;
    left: 0;
    padding: 0px 35px;
    width: auto;
    bottom: 30px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: 0 0!important;
    font-style: italic;
}

.slider-item-page .button.cs3 {
    background-image: url('http://www.jewishagency.org/sites/default/files/button%20blue.jpg')!important;
}


.panels-flexible-region-hompage-content-left .pane-content h2 {
    font-size: 37px;
}

.panels-flexible-region-hompage-content-left .pane-content h3 {
    font-size: 26px;
}


.slider-item-page .button::after { 
    content: " >";
}

.slider-item-page .info{
  display:none;
}

#block-jagency-pages-jagency-slider-block {
    margin-bottom: 15px;
}

.screen-buttun-mobile{
  display:none;
}


@media (min-width:750px) and (max-width:2500px) { 

  .mobile-botton {
      display:none;
  }

}

@media (min-width:300px) and (max-width:750px) { 

  .gallery980 .anythingBase li, .gallery980 .pic {
      height: 200px!important;
  }

  .gallery980.wrapper {
    height: 250px;
}

  .hidden-sm-down {
      display: none;
  }

  .slider-back-color{
      height: 134px;
      height: 103px;
      text-align: center;
  }


  .screen-buttun-mobile {
      display:block;
      width: 100%;
      position: absolute;
      text-align: center;
  }
  .slider-back-color h3 {
    border-bottom: none;
    margin: 0px;
    font-size: 23px;
  }

  .slider-back-color {
      height: 100px;
      padding: 10px;
  }

  .slider-item-page {
    width: 100% !important;
 }

 .slider-item-page .button{
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 20px;
    opacity: 0.8;
    cursor: pointer;
 }

 .slider-item-page img {
    height: 280px;
 }
.slider-back-color h3 {
      border-bottom: none!important;
      position:static!important;
  }

.slider-teaser{
  display:none;
}


}

