/* Start - PopUp */

/* Start - General Popups */
.ui-widget-overlay {
        -moz-background-clip:border;
        -moz-background-inline-policy:continuous;
        -moz-background-origin:padding;
        background: black none repeat-x scroll 50% 50%;
        left:0;
        opacity:0.60;
        filter: alpha(opacity = 60);
        position:absolute;
        top:0;
        }
.ui-dialog { padding: 0; border: none; background: none; }
.ui-dialog .ui-dialog-content { padding: 0; }
.ui-resizable-n, .ui-resizable-e, .ui-resizable-s, .ui-resizable-w, .ui-resizable-se, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-nw { display: none !important; }
.ui-corner-all { border-radius: 0 0 0 0; }
/* End - General Popups */

.generalPopup { padding: 30px !important; background-color: #fff !important; }

.headerPopup { width: 100%; padding-bottom: 12px; border-bottom: solid 1px #e4e4e4; }
.headerPopup h2 { color: #666; font: 24px/1 Arial; }
.headerPopup h2 img { float: left; margin-top: 5px; cursor: pointer; }

.generalPopup .inner { width: 100%; padding: 18px 0; }

.footerPopup { width: 100%; }

#subscribe { width: 654px !important; }

#subscribe button[type="submit"] { width: 179px; }
.cancel { margin-right: 10px; color: #0054a6 !important; font: 13px/29px Arial; }

/* End - PopUp */
