
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


/* HTML5 Display-Role Reset For Older Browsers */
article, aside, details, figcaption, dialog, figure, 
footer, header, hgroup, menu, nav, section, blockquote { 
  display: block;
}


/*--------------------------------------*/
/*----------------Layout----------------*/
/*--------------------------------------*/
html { overflow-y: scroll; }
body { color: #828282; font: normal 12px/1 Arial,Helvetica,sans-serif; background-color: #fff; }


/*--------------------------------------*/
/*----------------List-----------------*/
/*--------------------------------------*/
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
ul ul { list-style: circle; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
blockquote, q { quotes: none; }

ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
a img { vertical-align: middle; }


/*--------------------------------------*/
/*----------------Table-----------------*/
/*--------------------------------------*/
table { width: 100%; border-spacing: 0; border-collapse: collapse; }
td, th { text-align: left; }


/*--------------------------------------*/
/*----------------Form------------------*/
/*--------------------------------------*/
input[type="text"], input[type="password"], textarea { padding: 0 12px; }
select, input[type="text"] { height: 39px; background-color: #fff; border: solid 1px #cfd5da; border-radius: 2px; color: #26323f; font: 16px/39px Arial; text-align: left;  direction: ltr; }
input[type="submit"], input[type="button"], input[type="file"], button { border: none; padding: 0; margin: 0; cursor: pointer; }
input, select { vertical-align: middle; }
.inputValid { border: solid 1px #f26c4f !important; }
.validRow { height: 18px; text-align: right; }


/*--------------------------------------*/
/*----------------Clear-----------------*/
/*--------------------------------------*/
.clear-right { clear: right; }
.clear-left { clear: left; }
.clear-both { clear: both; }


/*--------------------------------------*/
/*----------------Float-----------------*/
/*--------------------------------------*/
.float-right { float: right !important; }
.float-left { float: left !important; }
.float-none { float: none !important; }


/*--------------------------------------*/
/*---------------Position---------------*/
/*--------------------------------------*/
.absolute { position: absolute; }
.relative { position: relative; }
.static { position: static; }
.fixed { position: fixed; }

.no-border { border: medium none !important;}
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-bg { background: none !important; }


/*--------------------------------------*/
/*---------------Display----------------*/
/*--------------------------------------*/
.active { display: block !important; }
.noActive { display: none !important; }

.visibile { visibility: visible !important; }
.hidden { visibility: hidden !important; }

.table-row {  display: table-row; #display: inline; }
.inline-block { display: inline-block; }


/*--------------------------------------*/
/*----------------Text------------------*/
/*--------------------------------------*/
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }

.ver-top { vertical-align: top !important; }
.ver-middle { vertical-align: middle !important; }
.ver-bottom { vertical-align: bottom !important; }
.ver-super { vertical-align: super !important; }


/*--------------------------------------*/
/*--------------Direction---------------*/
/*--------------------------------------*/
.rtl { direction: rtl; }
.ltr { direction: ltr; }


/*--------------------------------------*/
/*--------------Font Size---------------*/
/*--------------------------------------*/
.fs8 { font-size: 8px !important; }
.fs9 { font-size: 9px !important; }
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs18 { font-size: 18px !important; }
.fs20 { font-size: 20px !important; }
.fs22 { font-size: 22px !important; }
.fs24 { font-size: 24px !important; }
.fs28 { font-size: 28px !important; }


/*--------------------------------------*/
/*-------------General Fonts------------*/
/*--------------------------------------*/
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=62d73df6-3e9e-49f1-b814-d923225785c1");
@font-face{
  font-family:"AvenirNextLTW01-Regular";
  src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
  font-family:"Baskerville W01 Regular 927184";
  src:url("../fonts/b47f7c90-7645-4af1-b099-2954ba6ef5b6.eot?#iefix");
  src:url("../fonts/b47f7c90-7645-4af1-b099-2954ba6ef5b6.eot?#iefix") format("eot"),url("../fonts/77227b25-8d61-453d-84c5-5c7a107677b8.woff") format("woff"),url("../fonts/49e7a7a7-981c-4e01-8933-65eb9dbe5b91.ttf") format("truetype"),url("../fonts/37c4ae43-d8af-4c43-a347-c574a984b49c.svg#37c4ae43-d8af-4c43-a347-c574a984b49c") format("svg");
}

p, h1, h2, h3, h4, h5, h6 { display: block; text-align: left; direction: ltr; }

p { font: 12px/1.2 Arial,Helvetica,sans-serif; }
h1 { color: #666; font: 42px/1 Baskerville,Times New Roman,Serif; }
h2 { color: #666; font: 24px/1.2 Baskerville,Times New Roman,Serif; }
h3 { color: #666; font: 24px/1 Baskerville,Times New Roman,Serif; }
h4 { color: #666; font: 30px/40px 'Baskerville W01 Regular 927184',Times New Roman,Serif; }
h5 { color: #666; font: 24px/1 'Baskerville W01 Regular 927184',Times New Roman,Serif; }
h6 { color: #0762B0; font: normal 23px/1 Arial,Helvetica,sans-serif; }
a { color: #224f7c; font: 12px/1 Arial,Helvetica,sans-serif; text-decoration: none; cursor: pointer; text-align: left; }
a:hover { text-decoration: none; }
span { font: 12px/1 Arial,Helvetica,sans-serif; text-align: left; }
label { color: #666; font: 14px/1.2 Arial,Helvetica,sans-serif; text-align: left; }
.valid { color: #f26c4f; font: 10px/1 Arial; text-transform: uppercase; vertical-align: text-bottom; }

/*--------------------------------------*/
/*-------------Dynamic Buttons-----------*/
/*--------------------------------------*/
.button {
      background: url(../images/rightbutton30.png) right 0px no-repeat;
      display: block;
      float: left;
      height: 30px;
      padding-right: 7px !important; 
      font: normal 14px/30px Arial,Helvetica,sans-serif !important;
      text-decoration: none !important;
      text-align:center;
}
.button span {
      background: url(../images/leftCenterbutton30.png) 0px 0px no-repeat;
      display: block;
      font: normal 14px/30px Arial,Helvetica,sans-serif !important;
      float: left;
      height: 30px;
      padding-right: 8px;
      padding-left: 15px;
      cursor:pointer;
      color:#fff;
}

.button span img { vertical-align: middle; margin-left: 5px; }

.button:hover { background: url(../images/rightbutton30.png) right -30px no-repeat; text-decoration: none; }
.button:hover span { background: url(../images/leftCenterbutton30.png) 0px -30px no-repeat; color: #fff; }

.buttons { overflow: hidden; list-style: none; }
.buttons li { display: block; float: left; margin-right: 10px; }

button[type="submit"] { height: 29px; padding: 0 10px; background-color: #0054a6; border-radius: 2px; color: #fff; font: bold 13px/29px Arial; }




