.container {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}

.container menu a {
  display: block;
}

.logo {
}

.linkBorder {
  float: right;
  display: inline-block;
  padding: 0 15px;
  border: solid 1px #86919d;
  border-radius: 1px;
  line-height: 24px;
}

.breadCrumbs {
  direction: rtl;
  text-align: right;
  height: 39px;
  padding: 0 3px;
  margin-bottom: 30px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #e4e4e4;
  font: 12px/39px Arial;
}
.breadCrumbs a {
  color: #0053a6;
}
.breadCrumbs span {
  color: #8e9ea9;
}

hgroup {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #eaeaea;
}
hgroup h1 {
  padding-bottom: 5px;
  text-align: right;
}
hgroup h1 a {
  float: left;
  margin-right: 12px;
  margin-top: 24px;
  text-align: right;
}
hgroup h1 a.logo {
  color: #666666 !important;
  font: 42px/1 'Baskerville W01 Regular 927184', Times New Roman, Serif !important;
  float: none !important;
  margin: 0px;
  padding: 0px;
  display: inline !important;
}
hgroup p {
  color: #868686;
  font-size: 18px;
  font-family: Century Gothic, Arial, Sans-Serif;
  text-align: right;
}
hgroup p a {
  float: left;
  color: #a9c1c3;
  font: bold 11px/1 Arial;
  text-transform: uppercase;
}

/* Start - Blog */
.blogs {
  width: 730px;
  margin-bottom: 14px;
}
.blogs article {
  width: 362px;
  margin-bottom: 6px;
}
.blogs article > img, .blogs article > div img {
  display: block;
}
.blogs article .greenBg {
  background-color: #a3cc67;
}
.blogs article .yellowBg {
  background-color: #e9ba52;
}
.blogs article .orangeBg {
  background-color: #f26c4f;
}
.blogs article .turquoiseBg {
  background-color: #1cbbb4;
}
.blogs article section {
  width: 302px;
  height: 132px;
  padding: 25px 30px 55px;
  color: #fff;
  font: 12px/17px Arial;
  text-align: right;
}
.blogs article section > a {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  font: 24px/28px Century Gothic, Arial, Sans-Serif;
}

.blogs article .greenBg {
  background-color: #a3cc67 !important;
}
.blogs article .yellowBg {
  background-color: #e9ba52 !important;
}
.blogs article .orangeBg {
  background-color: #f26c4f !important;
}
.blogs article .turquoiseBg {
  background-color: #9a74ad !important;
}
.blogs article .blueBg {
  background-color: #1CBBB4 !important;
}
.blogs article section {
  background-color: #26323f;
  width: 302px;
  height: auto;
  padding: 25px 30px 55px;
  color: #fff;
  font: 12px/17px Arial;
  direction: rtl;
}
.blogs article section p {
  padding-bottom: 15px;
  font: 24px/28px Century Gothic, Arial, Sans-Serif;
  text-align: right;
}
.blogs article section p a {
  font: 24px/28px Century Gothic, Arial, Sans-Serif;
  color: #ffffff;
}

.blogs article section .footnote {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 302px;
  font: 12px/1 Arial;
}
.blogs article section .footnote a {
  color: inherit;
  font-size: inherit;
}
.blogs .blockquote section {
  height: auto;
  background-color: #26323f;
}
.blogs .blockquote section blockquote {
  padding-bottom: 15px;
  color: #fff;
  font: 34px/40px Baskerville, Times New Roman, Serif;
}
.blogs .blockquote section .name {
  padding-bottom: 35px;
  color: #98afc6;
  font: 16px/1 Arial;
}
.blogs .blockquote section .footnote {
  color: #6A7887;
}
.blogs .blockquote section .footnote strong {
  color: #98AFC6;
}
.footnote img {
  margin: 0 17px 0 4px;
  vertical-align: middle;
}
.footnote strong {
  font-size: 12px;
}
.playBtn {
  position: absolute;
  top: 83px;
  left: 156px;
  width: 51px;
  height: 52px;
  background: url(../images/playBtn.png) 0 0 no-repeat;
  cursor: pointer;
}
.moreBlogsBtn {
  clear: both;
  width: 728px;
  height: 42px;
  display: block;
  margin-bottom: 14px;
  background-color: #f0f0ef;
  border: solid 1px #e3e1e1;
  text-align: center;
  color: #8e8e8e;
  font: bold 14px/42px Arial;
  text-transform: uppercase;
  cursor: pointer;
}
.moreBlogs {
  height: 0px;
  display: none;
}

.blogsRightBox {
  margin-bottom: 30px;
}
.blogsRightBox h2 {
  padding-bottom: 10px;
  text-align: right;
}
.blogsRightBox h2 img {
  float: left;
  margin-top: 8px;
}
.blogsRightBoxInner {
  text-align: right;
  direction: rtl;
  padding: 10px 0;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
  position: relative;
}
.blogsRightBoxInner ul {
  width: 230px;
  list-style: none;
}

#contributors {
  max-height: 307px;
  position: relative;
}

#contributors li {
  position: relative;
  float: right;
  display: block;
  width: 49px;
  height: 49px;
  margin-left: 5px;
  margin-bottom: 5px;
}
#contributors li .imgOverlay {
  width: 49px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background: #1cbbb4;
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: none;
}
#contributors li:hover .imgOverlay {
  display: block;
}
.popupArrowUp {
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -26px;
  right: -14px;
}
.popupArrowDown {
  border-top: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -26px;
  left: -14px;
  display: none;
}
.conToolTip {
  position: absolute;
  left: 1px;
  top: 60px;
  width: 159px;
  padding: 15px 25px;
  background-color: #f9f9f9;
  z-index: 10;
  display: none;
  margin-top: -10px;
}
/*#contributors li:hover .conToolTip {
 display: block;
 z-index: 90;
 }*/
.popupArrow {
  width: 18px;
  height: 9px;
  background: url(../images/popupArrow.png) no-repeat;
  position: absolute;
  bottom: -24px;
  left: 50%;
}
.specialCon {
  display: inline-block;
  padding: 10px 0;
  border-top: solid 1px #eaeaea;
}
.specialCon img {
  float: right;
  margin-left: 10px;
}
.specialCon p {
  padding-bottom: 6px;
  color: #737A7F;
  font: 14px/1.2 Baskerville, Times New Roman, Serif;
}
.specialCon > span {
  color: #737A7F;
}

.trending li {
  width: 230px;
  display: block;
  font: 11px/15px Arial;
}
.trending li + li {
  padding-top: 15px;
  border-top: solid 1px #eaeaea;
  margin-top: 15px;
}
.trending li img {
  float: right;
  margin-left: 10px;
}
.trending li span {
  color: #516173;
}
.trending li a {
  font: 14px/16px Arial;
}

#categories {
  height: 210px;
}
#categories li {
  height: 36px;
}
#categories li + li {
  border-top: solid 1px #eee;
}
#categories li a {
  font: 14px/36px Arial;
}

.conToolTip {
  position: absolute;
  left: 1px;
  top: 60px;
  width: 159px;
  padding: 15px 25px;
  background-color: #f9f9f9;
  z-index: 10;
  display: none;
  margin-top: -10px;
}

.blogsCategory {
  position: relative;
  margin-bottom: 35px;
}
.blogsCategory .playBtn {
  left: 340px;
  top: 167px;
}
.blogsCategory article {
  width: 670px;
  height: 160px;
  padding: 30px;
  color: #fff;
  font: 14px/20px Arial;
  background-color: #26323F;
  text-align: right;
  direction: rtl;
}
.blogsCategory article.greenBg {
  background-color: #a3cc67 !important;
}
.blogsCategory article.yellowBg {
  background-color: #e9ba52 !important;
}
.blogsCategory article.orangeBg {
  background-color: #f26c4f !important;
}
.blogsCategory article.turquoiseBg {
  background-color: #9a74ad !important;
}
.blogsCategory article.blueBg {
  background-color: #1CBBB4 !important;
}
.blogsCategory > img {
  display: block;
}
.blogsCategory article p {
  padding-bottom: 15px;
  font: 38px/38px Baskerville, Times New Roman, Serif;
  text-align: right;
  direction: rtl;
}
.blogsCategory article p a {
  font: 30px/40px 'Baskerville W01 Regular 927184',Times New Roman,Serif;
  color: #FFFFFF;
}
.blogsCategory article .footnote {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 670px;
  font: 14px/1 Arial;
  direction: rtl;
  text-align: right;
}
.blogsCategory article .footnote span {
  direction: ltr !important;
  display: inline-block;
}
.blogsCategory article .footnote a {
  display: inline !important;
  font: 14px/1 Arial;
  color: #FFFFFF;
}
.blogArticleLink {
  display: inline-block;
  padding-right: 18px;
  background: url(../images/EnvironmentalismArrow.png) right 4px no-repeat;
  color: #a3cc67;
  font: bold 14px/1 Arial;
}
.blogArticle {
  text-align: right;
}
.blogArticle > *, .blogArticle article > * {
  margin-bottom: 15px;
  direction: rtl;
  text-align: right;
}
.blogArticle p {
  color: #737a7f;
  font: 14px/20px Century Gothic, Arial, Sans-Serif;
  text-align: right;
  direction: rtl;
}
.intro {
  font: 18px/26px Century Gothic, Arial, Sans-Serif !important;
}
.blogArticle article {
  margin-bottom: 40px;
}
.blogArticle article > h5, .blogArticle article > p {
  padding-right: 250px;
}
.blogArticleCaption {
  width: 200px;
  height: 33px;
  background-color: #a3cc67;
  padding: 15px;
  color: #fff !important;
  font: 12px/17px Arial !important;
}

.blogArticleFooter {
  width: 730px;
  height: 48px;
  border-top: solid 1px #dadada;
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
}
.blogArticleFooter .footnote {
  color: #aab2b9;
  line-height: 48px;
  margin-right: 5px;
}
.blogArticleFooter .footnote span {
  display: inline-block;
  direction: ltr;
}
.blogArticleFooter .footnote img {
  margin: 0 17px 0 4px;
  vertical-align: middle;
}
.blogArticleFooter .footnote strong {
  color: #7fd5dd;
}
.blogArticleFooter ul {
  float: left;
  line-height: 48px;
  margin-left: 5px;
}
.blogArticleFooter ul li {
  display: block;
  float: right;
}
.blogArticleFooter ul li + li {
  margin-right: 15px;
}
.blogArticleFooter ul li span {
  color: #737a7f;
  font: bold 11px/1 Arial;
  text-transform: uppercase;
}
.blogArticleFooter ul li span.print {
  margin-right: 30px;
}

.blogAuthor {
  width: 730px;
  padding-bottom: 20px;
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
}
.blogAuthor img {
  float: right;
  margin-left: 15px;
}
.blogAuthor p {
  color: #828282;
  font: 11px/1.5 Arial;
  text-align: right;
  direction: rtl;
}
.blogAuthor p a {
  color: #516173;
  font-size: 11px;
}
.facebookComments {
}

.allPosts {
  width: 730px;
}
.allPosts h3 {
  padding-bottom: 20px;
  border-bottom: solid 1px #ededed;
  margin-bottom: 20px;
  text-align: right;
  direction: rtl;
}
.allPosts ul li {
  float: right;
  display: block;
  padding-bottom: 20px;
  border-bottom: solid 1px #ededed;
  margin-bottom: 20px;
}
.allPosts ul li > div {
  width: 468px;
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}
.allPosts ul li p, .allPosts ul li p a {
  color: #224f7c;
  font: 18px/1 Century Gothic, Arial, Sans-Serif;
  padding-bottom: 20px;
  text-align: right;
  direction: rtl;
}
.allPosts ul li span {
  display: block;
  color: #737a7f;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: Century Gothic, Arial, Sans-Serif;
  text-align: right;
  direction: rtl;
}
.allPosts ul li .footnote {
  direction: rtl;
  text-align: right;
}
.allPosts ul li .footnote b a {
  font-weight: bold;
  color: #828282;
  display: inline !important;
}
.allPosts ul li .footnote strong {
  color: #7fd5dd;
}

.greenBorder {
  border-right: solid 8px #a3cc67;
  float: right;
}
.yellowBorder {
  border-right: solid 8px #e9ba52;
  float: right;
}
.orangeBorder {
  border-right: solid 8px #f26c4f;
  float: right;
}
.turquoiseBorder {
  border-right: solid 8px #1cbbb4;
  float: right;
}

.morePosts {
  display: none;
}

.blogs article section > a {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  font: 24px/28px AvenirNextLTW01-Regular, Century Gothic, Arial, Sans-Serif;
}
.blogs article section .footnote a {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}
.videoframe {
  position: absolute;
}

.ui-dialog-titlebar {
  display: none;
}
.ui-dialog .ui-dialog-content {
  background-color: #f9f9f9 !important;
}
.ui-dialog-titlebar a, .ui-dialog-titlebar span {
  color: #fff !important;
  font-size: 18px !important;
}
.view-id-subscribe_form .submitted {
  display: none;
}
.view-subscribe-form {
  padding: 20px 20px;
  direction: rtl;
}
.view-id-subscribe_form h2 {
  border-bottom: 1px solid #E3E3E3;
  color: #666;
  font: 24px/1 Arial;
  padding-bottom: 10px;
  text-align: right;
}
.view-id-subscribe_form h2 a {
  font-size: 22px;
  color: #696866;
}
.view-id-subscribe_form .form-item {
  width: 49%;
  float: right;
}
.view-id-subscribe_form label {
  padding: 5px 0 15px;
  color: #666;
  font: 14px/1.2 Arial, Helvetica, sans-serif;
}
.view-id-subscribe_form label .form-required {
  display: none;
}
.view-id-subscribe_form input {
  height: 34px;
  padding: 2px 4px;
  width: 580px;
  border: 1px solid #ced6d9;
  font-size: 20px;
}
.view-id-subscribe_form .form-actions {
  clear: both;
}
.view-id-subscribe_form .form-actions .form-submit {
  width: 179px;
  height: 29px;
  padding: 0 10px;
  background-color: #0054a6;
  border-radius: 2px;
  color: #fff;
  font: bold 13px/29px Arial;
}
.view-id-subscribe_form #webform-component-cancel {
  position: absolute;
  left: 220px;
  bottom: 9px;
}
.view-id-subscribe_form .messages {
  position: absolute;
  right: 20px;
  background: none !important;
  border: 0px;
  padding: 0px;
  top: 84px;
  color: #f26c4f;
  font: 10px/1 Arial;
  text-transform: uppercase;
  vertical-align: text-bottom;
}
.closeModal {
  background: url(../images/closePopup.png) right 4px no-repeat;
  display: block;
  height: 22px;
  width: 20px;
  position: absolute;
  top: 32px;
  left: 18px;
}
.hide {
  display: none;
}
.imageCaption_green {
  background-color: #a3cc67 !important;
}
.imageCaption_yellow {
  background-color: #e9ba52 !important;
}
.imageCaption_orange {
  background-color: #f26c4f !important;
}
.imageCaption_turquoise {
  background-color: #9a74ad !important;
}
.imageCaption_blue {
  background-color: #1CBBB4 !important;
}
.imageCaption span {
  padding: 15px 10px 10px;
  color: #fff !important;
  font: 12px/1.3 Arial !important;
  display: block;
}
#youtube {
  display: none;
}
.blogArticle p strong {
  font-weight: bold;
}
.blogArticle p em {
  font-style: italic;
}
.search-center {
  text-align: center;
  font-weight: bold;
}
.socialInner .fb_edge_widget_with_comment {
  margin-top: 0px !important;
}
.fb_edge_widget_with_comment {
  margin-top: 5px;
}
.fb_edge_widget_with_comment .sp_like {
  background-image: none !important;
}
/* End - Blog */