.buttonSmall {
  color: #fff;
  font: bold 16px/2.9 "AvenirNextLTW01-Regular", Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 29px;
  vertical-align: middle;
  margin-right: 20px;
  padding: 0px;
  background: #0054a6;
}
.buttonMedium {
  color: #fff;
  font: bold 16px/2.9 "AvenirNextLTW01-Regular", Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 35px;
  vertical-align: middle;
  margin-right: 20px;
  padding: 0px;
  background: #0054a6;
}
.buttonBig {
  color: #fff;
  font: bold 16px/2.9 "AvenirNextLTW01-Regular", Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 48px;
  vertical-align: middle;
  margin-right: 20px;
  padding: 0px;
  background: #0054a6;
}
.button-blue {
  background: #0053a6;
}
.button-green {
  background: #1CBCB4;
}
table tr td {
  border: solid 1px #bebfb9;
}
a.color1 {
  background: #1CBBB4 !important;
}
a.color2 {
  background: #A3CC67 !important;
}
a.color3 {
  background: #E9BA52 !important;
}
a.color4 {
  background: #F26C4F !important;
}
a.color5 {
  background: #0053a6 !important;
}
a.color6 {
  background: #dd3030 !important;
}
.h1 {
  color: #666;
  font: normal 42px/1 Times New Roman, Serif;
}
.h2 {
  color: #666;
  font: normal 24px/1.2 Times New Roman, Serif;
}
.h3 {
  color: #666;
  font: normal 22.5px/1 Times New Roman, Serif;
}
.h4 {
  color: #666;
  font: normal 30px/40px Times New Roman, Serif;
}
.h5 {
  color: #224f7c;
  font: normal 19px/1 Times New Roman, Serif;
}
.h6 {
  color: #888;
  font: normal 14px/1.5 Times New Roman, Serif;
}
.text {
  color: #737A7F;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.a {
  color: #224F7C;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}