/* CSS file for the four three adaptive layout */
@import url('../../css/base-grid.css');

.panel-col-twenty-five {
  width: 230px;
  float: left;
}

.panel-col-twenty-five-end {
  width: 230px;
  float: right;
}

.panel-col-thirty-three {
  width: 33%;
}

.panel-col-fifty {
  min-width: 520px;
  max-width: 730px;
}

.panel-col-fifty-middle {
  max-width: 730px;
  float: left;
  width: 515px;
}
.panel-col-fifty-middle .inside {
  margin-top: -12px;
}
.panel-col-sixty-six {
  width: 66%;
}

.panel-col-seventy-five {
  width: 750px;
}
.panel-col-seventy-five-end {
  width: 750px;
  float: right;
}

.panel-col-seventy-five-start {
  width: 75%;
  float: left;
}

.panel-one-hundred {
  width: 100%;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em .5em;
}
.firstUnit .inside {
  margin: 0 .5em 1em 0;
}
.unit .inside {
  margin: 0 .5em 1em .5em;
}
#panel-region-reg_2 h2, #panel-region-reg_8 h2 {
  height: 117px;
}
#panels-ipe-regionid-reg_2 .panels-ipe-placeholder {
  min-height: 173px;
}

#panels-ipe-regionid-reg_8 .panels-ipe-placeholder {
  min-height: 173px;
}

